.navbar{
  padding: 20px;
  display: flex;
 
  background-color: beige;
}

.search{
  display: flex;
  justify-content: center;
  justify-self: end;
  padding: 20px;
}


.card
{
 
  display: flex;
  justify-content: center;
  padding: 20px;
}

.background{
  background-color: #9CC4B2;
}